<!DOCTYPE html>
<html>
<head>
<title>Welcome to LBG Connector</title>
</head>
<body>
<h1>Welcome to LBG Connector</h1>
<p>See Sara's story...</p>
<p>"I joined LBG in the Consumer Lending department and found it a really engaging experience. I learnt so much about the bank and the range and diversity of teams and was gob-smacked of all of the roles needed to keep the engine working."</p>
<p><button class="w3-button w3-padding-large w3-white w3-border"<a> Click on this to find out more about Consumer Lending </a></p>
</body>
</html>